# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp

# Streamlit secrets
.streamlit/secrets.toml

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db